
.beams-container {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
  z-index: 0;
}

.beams-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
